<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vue</title>
	<script>
		let activeEffect = undefined

		function compile_text(node) {
			const pattern = /\{\{\s*(\S+?)\s*\}\}/g
			const originText = node.nodeValue
			useEffect(() => {
				let curIndex = 0
				let newText = ''
				let match
				while(match = pattern.exec(originText)) {
					newText += originText.slice(curIndex, match.index)
					newText += match[1].split('.').reduce((acc, cur) => acc[cur], this.$data)
					curIndex = match.index + match[0].length
				}
				newText += originText.slice(curIndex)
				node.nodeValue = newText
			})
		}

		function compile_element(node) {
			Array.from(node.attributes).forEach(attr => {
				const pattern = /^(@|v-on|:|v-bind|v-model):?(.*)/g
				const match = pattern.exec(attr.nodeName)
				const instruction = match[1]
				const attrName = match ? match[2] : attr.nodeName
				switch (instruction) {
					case ':':
					case 'v-bind':
						node.removeAttribute(attr.nodeName)
						useEffect(() => {
							const value = attr.nodeValue.split('.').reduce((acc, cur) => acc[cur], this.$data)
							node.setAttribute(attrName, value)
							if (attrName === 'value') {
								node.value = value
								node.addEventListener('input', event => {
									node.value = value
								})
							}
						})
						break
					case 'v-model':
						node.removeAttribute(attr.nodeName)
						useEffect(() => {
							let value = attr.nodeValue.split('.').reduce((acc, cur) => acc[cur], this.$data)
							node.setAttribute('value', value)
							node.value = value
						})
						node.addEventListener('input', event => {
							console.log('input...')
							attr.nodeValue.split('.').reduce((acc, cur, idx, arr) => {
								if (arr.length === idx + 1) {
									acc[cur] = event.target.value
								}
								return acc[cur]
							}, this.$data)
							node.value = value = event.target.value
						})
						break
					case '@':
					case 'v-on':
						break
					default:
						break
				}
			})
			
		}

		class Dep {
			constructor() {
				this.effects = new Set
			}
			depend() {
				activeEffect && this.effects.add(activeEffect)
			}
			notice() {
				this.effects?.forEach(effect => effect())
			}
		}
		
		function reactive(raw) {
			if (typeof raw !== 'object' || raw === null) return raw
			const cache = {} // 缓存属性值
			const deps = {} // 依赖收集
			return new Proxy(raw, {
				get(tar, key) {
					// 收集依赖
					const dep = deps[key] = deps[key] || new Dep
					dep.depend()
					return cache[key] = cache[key] || reactive(tar[key])
				},
				set(tar, key, val) {
					cache[key] = tar[key] = val
					// 依赖触发
					const dep = deps[key]
					dep?.notice()
					return true
				}
			})
		}

		function useEffect(effect) {
			activeEffect = effect
			effect()
			activeEffect = null
		}

		class Vue {
			constructor(options) {
				this.$el = document.querySelector(options.el)
				this.$data = reactive(options.data)
				this.compile()
			}
			compile() {
				const fragment = document.createDocumentFragment()
				let child
				while(child = this.$el.firstChild) {
					fragment.appendChild(child)
				}
				const compile_fragment = node => {
					if (node.nodeType === 3) {
						compile_text.call(this, node)
					}
					if (node.nodeType === 1) {
						compile_element.call(this, node)
					}
					node.childNodes.forEach(compile_fragment)
				}
				compile_fragment(fragment)
				this.$el.appendChild(fragment)
			}
		}
	</script>
</head>
<body>
	<div id="app">
		<p>{{name}},{{age}}</p>
		<input v-bind:value="age" />
		<p v-on:click="handleClick">{{ user.name }} is {{ user.age }} years old and lives in {{ user.location.city }}</p>
		<input v-model="user.name" />
		<input v-model="user.age" />
		<input v-model="user.location.city" />
	</div>
	<script type="text/javascript">
		const app = new Vue({
			el: '#app',
			data: {
				name: 'erichow',
				age: 11,
				user: {
					name: 'John Doe',
					age: 30,
					location: {
						city: 'New York'
					}
				},
			},
			methods: {
				handleClick() {
					alert(this.user.name)
				}
			}
		});
	</script>
</body>
</html>
